certifi==2021.5.30
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
filelock==3.4.1
future==0.18.3
huggingface-hub==0.4.0
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
jieba==0.42.1
joblib==1.1.1
numpy==1.19.5
opencv-python==4.4.0.42
packaging==21.3
pandas==1.1.5
Pillow==8.4.0
pyparsing==3.1.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
regex==2023.8.8
requests==2.27.1
sacremoses==0.0.53
six==1.16.0
timm==0.3.2
tokenizers==0.12.1
torch==1.7.0
torchvision==0.8.1
tqdm==4.64.1
transformers==4.18.0
typing_extensions==4.1.1
urllib3==1.26.16
zipp==3.6.0