accelerate               1.2.1
aiohappyeyeballs         2.4.4
aiohttp                  3.11.11
aiosignal                1.3.2
allennlp                 2.10.1
annotated-types          0.7.0
anyio                    4.8.0
arrow                    1.3.0
async-timeout            5.0.1
attrs                    24.3.0
backoff                  2.2.1
base58                   2.1.1
beautifulsoup4           4.12.3
blessed                  1.20.0
blis                     0.7.11
boto3                    1.35.50
botocore                 1.35.50
Brotli                   1.1.0
cached-path              1.1.6
cachetools               5.5.0
catalogue                2.0.10
causal-conv1d            1.5.0.post8
certifi                  2024.8.30
cffi                     1.17.1
charset-normalizer       3.4.0
click                    8.1.7
cloudpathlib             0.20.0
commonmark               0.9.1
confection               0.1.5
conllu                   6.0.0
croniter                 1.4.1
cymem                    2.0.8
dateutils                0.6.12
deepdiff                 7.0.1
deepspeed                0.15.0
dill                     0.3.9
docker-pycreds           0.4.0
editor                   1.6.6
einops                   0.8.1
exceptiongroup           1.2.2
fairscale                0.4.6
fastapi                  0.115.6
filelock                 3.7.1
frozenlist               1.5.0
fsspec                   2024.10.0
gitdb                    4.0.11
GitPython                3.1.43
google-api-core          2.22.0
google-auth              2.35.0
google-cloud-core        2.4.1
google-cloud-storage     2.18.2
google-crc32c            1.6.0
google-resumable-media   2.7.2
googleapis-common-protos 1.65.0
h11                      0.14.0
h2                       4.1.0
h5py                     3.12.1
hf-xet                   1.1.5
hjson                    3.1.0
hpack                    4.0.0
huggingface-hub          0.33.2
hyperframe               6.0.1
idna                     3.10
iniconfig                2.0.0
inquirer                 3.4.0
itsdangerous             2.2.0
Jinja2                   3.1.4
jmespath                 1.0.1
joblib                   1.4.2
jsonnet                  0.20.0
langcodes                3.4.1
language_data            1.2.0
leveldb                  0.201
lightning                2.0.5
lightning-cloud          0.5.70
lightning-utilities      0.11.9
lmdb                     1.5.1
mamba-ssm                2.2.4
marisa-trie              1.2.1
MarkupSafe               3.0.2
more-itertools           10.5.0
mpmath                   1.3.0
msgpack                  1.1.0
multidict                6.1.0
murmurhash               1.0.10
networkx                 3.4.2
ninja                    1.11.1.4
nltk                     3.9.1
nmslib                   2.1.1
numpy                    1.26.4
nvidia-cublas-cu12       12.4.5.8
nvidia-cuda-cupti-cu12   12.4.127
nvidia-cuda-nvrtc-cu12   12.4.127
nvidia-cuda-runtime-cu12 12.4.127
nvidia-cudnn-cu12        9.1.0.70
nvidia-cufft-cu12        11.2.1.3
nvidia-curand-cu12       10.3.5.147
nvidia-cusolver-cu12     11.6.1.9
nvidia-cusparse-cu12     12.3.1.170
nvidia-ml-py             12.575.51
nvidia-nccl-cu12         2.21.5
nvidia-nvjitlink-cu12    12.4.127
nvidia-nvtx-cu12         12.4.127
ordered-set              4.1.0
packaging                24.1
pandas                   2.2.3
pathlib_abc              0.1.1
pathtools                0.1.2
pathy                    0.11.0
peft                     0.12.0
pillow                   10.4.0
pip                      24.2
pluggy                   1.5.0
preshed                  3.0.9
promise                  2.3
propcache                0.2.1
proto-plus               1.25.0
protobuf                 3.20.3
psutil                   6.1.0
py-cpuinfo               9.0.0
pyasn1                   0.6.1
pyasn1_modules           0.4.1
pybind11                 2.6.1
pycparser                2.22
pydantic                 1.10.22
pydantic_core            2.33.2
Pygments                 2.18.0
PyJWT                    2.10.1
pyparsing                3.2.3
pysbd                    0.3.4
PySocks                  1.7.1
pytest                   8.3.3
python-dateutil          2.9.0.post0
python-multipart         0.0.20
pytorch-lightning        2.5.0.post0
pytz                     2024.2
PyYAML                   6.0.2
quickumls                1.4.2
quickumls_simstring      1.1.5.post1
readchar                 4.2.1
regex                    2024.9.11
requests                 2.32.3
rich                     12.6.0
rsa                      4.9
runs                     1.2.2
s3transfer               0.10.3
sacremoses               0.1.1
safetensors              0.4.5
scikit-learn             1.5.2
scipy                    1.14.1
scispacy                 0.5.5
sentencepiece            0.2.0
sentry-sdk               2.17.0
setproctitle             1.3.3
setuptools               75.1.0
shortuuid                1.0.13
six                      1.16.0
smart-open               6.4.0
smmap                    5.0.1
sniffio                  1.3.1
soupsieve                2.6
spacy                    3.7.5
spacy-legacy             3.0.12
spacy-loggers            1.0.5
srsly                    2.4.8
starlette                0.41.3
starsessions             1.3.0
sympy                    1.13.1
tensorboardX             2.6.2.2
termcolor                1.1.0
thinc                    8.2.5
threadpoolctl            3.5.0
timm                     1.0.15
tokenizers               0.13.3
tomli                    2.0.2
torch                    2.5.1
torch-geometric          2.6.1
torchaudio               0.12.1
torchmetrics             1.6.1
torchvision              0.13.1
tqdm                     4.66.6
traitlets                5.14.3
transformers             4.30.2
triton                   3.1.0
typer                    0.4.2
types-python-dateutil    2.9.0.20241206
typing_extensions        4.12.2
typing-inspection        0.4.1
tzdata                   2024.2
Unidecode                1.3.8
unqlite                  0.9.7
urllib3                  2.2.3
uvicorn                  0.34.0
wandb                    0.12.21
wasabi                   0.10.1
wcwidth                  0.2.13
weasel                   0.4.1
websocket-client         1.8.0
websockets               12.0
wheel                    0.44.0
xmod                     1.8.1
yarl                     1.18.3
zstandard                0.23.0